sandbox/
bu/
tmp/
_private/
old/


# Notepad++ #
###################
*.bak


# Python #
###################
__pycache__/
build/
dist/
*.pyc
*.pyo
*.pyd
*.egg
dist/
build/
*.log
*.env
venv/
.venv/
*.sqlite
*.swp
*.idea/
.vscode/


# LabView #
###################
# Libraries
#*.lvlibp
#*.llb

# Shared objects (inc. Windows DLLs)
#*.dll
#*.so
#*.so.*
*.dylib

# Executables
#*.exe

# Metadata
#*.aliases
#*.lvlps
.cache/